@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

@media (min-width: 300px){
    .logoImg{
      width: 100px;
    }
    /* 

.div-forms{
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    font-family: "Open Sans", Helvetica, sans-serif;
    display: flex;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    width: 100%;
    padding: 4%
}
.forms{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.title {
  position: relative;
}

.h1 {
  color: #666;
  top: 22%;
  position: relative;
  left: 4%;
}

.dropzone {
  width: 120px;
  height: 80px;
  position: relative;
  left: 37%;
}
.name-video{
  border-radius: 10px;
  font-size: 15px;
  width: 100%;
}
.div-name-video{
  display: flex;
  flex-direction: column;
}
.upload-icon {
  margin: 25px 2px 2px 2px;
}
.name-video{
  border-radius: 10px;
  font-size: 15px;
  width: 18%;
 }
.upload-input {
  position: relative;
  top: -62px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.btn {
  display: block;
  width: 140px;
  height: 40px;
  background: darkmagenta;
  color: #fff;
  border-radius: 3px;
  border: 0;
  box-shadow: 0 3px 0 0 hotpink;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  position: relative;
  top: 0%;
  left: 34%
}

.btn:hover {
  background: rebeccapurple;
  box-shadow: 0 3px 0 0 deeppink;
}

.description{
  position: relative;
  left: -3%
} */
}